@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

*,
*::before,
*::after {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "SpaceGrotesk", "Lato",
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  font: "SpaceGrotesk", "Lato", "Open Sans", "Helvetica Neue Light",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font: "SpaceGrotesk", "Lato", "Open Sans", "Helvetica Neue Light",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.theme {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
}
.theme-light {
  background: #f7f8f9;
  color: #000000;
}

.theme-dark {
  background: #181818;
  color: #ffffff;
}

.main {
  background-size: cover;
  border-radius: 14px 14px 0 0;
  color: white;
}

.sun {
  color: #e7ab4d;
  font-size: 22px;
  margin-right: 10px;
}

#primary {
  padding: 20px;
}
#primary h5 {
  font-weight: 400;
}
#current {
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
}
#current > .temp {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  text-align: center;
}
#current > .temp > div:first-child > img {
  width: 130px;
  height: 130px;
}
#current > .temp > div:last-child {
  display: flex;
}
#current > .temp > div:last-child > h1 {
  font-size: 65px;
  margin-bottom: 30px;
}
#current > .temp > div:last-child > h1 > sup {
  font-weight: lighter;
}
#current > .temp > div:last-child > .weather-unit {
  margin-left: 8px;
}
#current > .temp > div:last-child > .weather-unit > span {
  font-size: 20px;
  padding: 3px;
}
#current > .temp > div:last-child > .weather-unit > span:nth-child(2) {
  color: rgba(255, 255, 255, 0.8);
  padding: 0;
  margin: 0 3px;
}
#current > .temp > div:last-child > .weather-unit > span.active {
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
#current > .temp > div:last-child > .weather-unit > span.active::before {
  content: " \005F";
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0px;
}
#current > .temp > div:last-child > .weather-unit > span.inActive {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

#current > .detail {
  margin-right: 150px;
  margin-top: 35px;
}
#current > .detail > p {
  font-size: 20px;
  font-weight: 400;
  margin: 8px 0;
}
#current > .detail > p > img {
  margin-left: 4px;
}
#current > .detail > p > strong {
  margin-left: 5px;
}
.hourly > div {
  text-align: center;
}
.hourly > div p {
  margin: 3px;
}
.hourly > div .temp {
  font-size: 16px;
}
.hourly > div .feelslike {
  font-size: 12px;
}
.hourly > div .time {
  font-size: 14px;
}
.daily {
  display: flex;
  margin-top: 30px;
}
.daily > div {
  width: 12.5%;
  text-align: center;
}
.daily > div h6 {
  margin-bottom: 0;
}
.daily > div .temp {
  margin-bottom: 6px;
}
.daily > div .temp > .max {
  font-size: 16px;
}
.daily > div .temp > .min {
  font-size: 12px;
  margin-left: 15px;
}
.daily > div .sunrise {
  font-size: 14px;
  margin-bottom: 8px;
}
.daily > div .sunset,
.sunset {
  font-size: 14px;
  margin-bottom: 8px;
}
.item-dark:hover,
.item-dark:first-child {
  background: #f7f8f9;
  color: #000000;
}

.item-light:hover,
.item-light:first-child {
  background: #181818;
  color: #ffffff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 32px;
  height: 14px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(1.5);
}

.label-dark {
  background-color: #3a3a3a;
}

.label-light {
  background-color: #4a81c4;
}

.ball {
  width: 12px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: 1px;
  left: 18px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(-16px);
}

.fa-moon,
.fa-sun {
  color: orange;
  font-size: 11px;
}

.searchbar {
  width: 70%;
  margin: 35px auto;
}

.input-group {
  border-radius: 2rem;
}

.input-dark {
  background-color: #3a3a3a;
}

.input-light {
  background-color: #e2e8f0;
}

.input {
  background-color: inherit !important;
  border-radius: inherit !important;
  border: none !important;
}
